*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
.align-center{
    align-items: center;
}
:root{
    --headingfont:'Grand Hotel', cursive;
    --headinfcolor:#ffc200;
}
.heading{
    font-family: var(--headingfont);
    color: var(--headinfcolor);
    font-size: 124.63px;
    font-weight: 400;
}
.button{
    background-color: var(--headinfcolor);
    font-size: 19.23px;
    font-weight: 700;
    color: black;
    padding: 15px 50px;
    border-radius: 5px;
    text-transform: uppercase;

}
.button:hover{
    color: #ffc200;
    background-color: white;
    border: 2px solid #ffc200;
}
body{
    font-family: 'Montserrat', sans-serif;
}
nav{
    position: absolute;
    width: 100%;
}
nav .logo{
    width: 20%;
}
nav .menu{
    width: 75%;
    text-align: right;
    
}
nav .menu ul li {
    display: inline-block;
    font-weight: 400;
}

nav .menu ul li a{
    display: block;
    padding: 40px;
    color: white;
    font-weight: 400;
    font-size: 19px;
    position: relative;
    z-index: 1;
}
nav .menu ul li ::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    top: 0;
    background-color: #ffc200;
    transition: 0.5s;
    color: white;
    z-index: -1;
}
nav .menu ul li :hover::before{
    height: 100%;
}
nav .search{
    width: 5%;
    text-align: right;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
/* Nav bar CSS Ends Here */
/* Banner Css Start Here */
#banner{
    background-image: url(../images/3562995.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 200px;
}
#banner .leftside{
    width: 50%;
}
#banner .rightside{
    width: 50%;
    padding-top: 220px;
    padding-left: 30px;
}

#banner .rightside p{
    color: white;
    font-size: 27px;
    font-weight: 400;
    margin: 0 0 60px 0;
}

/* Banner Section Ends Here */
/* Best Sellar section Start Here */
#best_seller{
    padding: 120px 0;
}
#best_seller h2{
    color: black;
    font-size: 75px;
    text-align: center;
    padding-bottom: 20px;
}
#best_seller p{
    text-align: center;
    padding: 0 227px;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 60px;
}
#best_seller .group1{
    width: calc(33.33% - 40px);
    margin: 0 20px;
    text-align: center;
    padding: 20px 0;
}
#best_seller .group1:hover{
    background-color: #ffc200;
    padding: 20px 0;
    border-radius: 10px;
}
#best_seller .group1 h2{
    font-size: 41px;
    font-weight: 400;
    text-align: center;
    padding: 10px 0;
}
#best_seller .group1 p{
    font-size: 16px;
    font-weight: 400;
    padding: 0 60px;
    padding-bottom: 30px;
}
/* Best Sellar section Ends Here */
/* test Section Start Here */
#test{
    background-image: url(../images/know.png);
    background-repeat: no-repeat;
    padding: 100px 0 50px 0;
}
#test .image{
    width: 50%;
}
#test .text{
    width: 50%;
    padding-top: 100px;
}
#test .text h2{
    font-size: 100px;
}
#test .text p{
    font-size: 20px;
    color: white;
    padding: 0 150px 60px 0 ;
}

/* test Section Ends Here */
/* Statistics Section Start Here */
#Statistics{
    background-image: url(../images/s.jpg);
    background-repeat: no-repeat;
    padding: 130px 0;
    padding-bottom: 154px;
}
#Statistics h2{
    font-size: 100px;
    text-align: center;
}
#Statistics p{
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 0 230px;
    line-height: 40px;
    padding-bottom: 60px;
}
#Statistics .text1{
    width: calc(25% - 10px);
    margin: 0 5px;
    text-align: center;
    border: 4px solid white;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: auto;
    
}
#Statistics .text1:hover{
    border: 4px solid #ffc200;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
#Statistics .text1 h3{
    color: var(--headinfcolor);
    font-size: 50px;
    font-weight: 700;
    padding-top: 50px;
}
#Statistics .text1:hover h3{
    color: white;
}
#Statistics .text1:hover p{
    color: white;
}
#Statistics .text1 p{
    text-align: center;
    padding: 0;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
/* Statistics Section Ends Here */
/* Grill Section Start Here */
#grill{
    background-image: url(../images/grill_banner.jpg);
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 160px;
}
#grill .text{
    width: 40%;
}
#grill .text h2{
    padding-top: 60px;
    font-size: 100px;
}
#grill .text p{
    color: white;
    font-size: 20px;
    padding-right: 40px;
    padding-bottom: 60px;
}
#grill .image{
    padding-top: 60px;
    width: 60%;
    text-align: right;
}
/* Grill Section Ends Here */
/* Lenora Section Css Start Here */
#lenora{
    background-image: url(../images/t-banner.jpg);
    background-repeat: no-repeat;
    text-align: center;
    height: 600px;
}
#lenora p{
    color: black;
    font-size: 44px;
    text-align: center;
    padding: 0 20px;
    padding-top: 167px;
}
#lenora h2{
    color: #333333;
    font-size: 74px;
    padding-bottom: 167px;

}
/* Lenora Section Css Ends Here */
/* Subscribe Css Start Here */
#subscribe{
    background-image: url(../images/st-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
    text-align: center;
}
#subscribe h2{
    color: black;
    font-size: 100px;
}
#subscribe p{
    font-size: 24px;
    font-weight: 500px;
    padding: 0 200px;
    padding-bottom: 60px;
}
#subscribe input{
    padding: 0;
    width: 350px;
    padding: 19px 55px;
    background-color: #f4f4f4;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
#subscribe a{
    margin-left: -20px;
    padding: 19px 55px;
    text-align: center;
    padding-top: 14px;
    border-radius: 0;
   
}
#subscribe input::placeholder{
    font-size: 20px;
}
/* Subscribe Css Ends Here */
/* Footer Css Start Here */
#footer{
    background-color: black;
    padding: 200px 0;
    color: white;
}
#footer .socialicon{
    width: 40%;
}
#footer .socialicon h3{
    font-size: 28px;
    font-weight: 700;
    padding-bottom: 30px;
}
#footer .socialicon p{
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    padding-right: 70px;
}
#footer .socialicon ul li {
    display: inline-block;
    background-color: #ffffff;
    color: #303030;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 10px;
    margin-top: 40px;

}
#footer .socialicon ul li a{
    color: #303030;
}
#footer .about{
    width: 20%;
}
#footer .about h3{
    font-size: 28px;
    font-weight: 700;
    padding-bottom: 30px;
}
#footer .about ul li a{
    color: white;
    font-size: 18px;
    line-height: 50px;
    transition: 0.35s;
}
#footer .about ul li a:hover{
    padding-left: 20px;
}
#footer .services{
    width: 20%;
}
#footer .services h3{
    font-size: 28px;
    font-weight: 700;
    padding-bottom: 30px;
}
#footer .services ul li a{
    color: white;
    font-size: 18px;
    line-height: 50px;
    transition: 0.35s;
}
#footer .services ul li a:hover{
    padding-left: 20px;
}
#footer .others{
    width: 20%;
}
#footer .others h3{
    font-size: 28px;
    font-weight: 700;
    padding-bottom: 30px;
}
#footer .others ul li a{
    color: white;
    font-size: 18px;
    line-height: 50px;
    transition: 0.35s;
}
#footer .others ul li a:hover{
    padding-left: 20px;
}
/* Footer Css Ends Here */